<%= render "common/navigation" %>
<div id="layout_main" class="clearfix">
  <%= render "common/menuour" %>
  <!-- 精英团队 -->
  <div id="layout_mainer">
    <Iframe src="http://115.28.230.54/weiweb/33/57490f8d4c6abb65f06293cd.html#mp.weixin.qq.com" width="700" height="500" scrolling="no" frameborder="0"></iframe>
  </div>
  <!-- 精英团队end -->
</div>
<%= render "common/footer" %>
<script type="text/javascript">
    document.getElementById("menu_our").className = "menu_our_onclick"
    document.getElementById("sidebar_menu02").className = "sidebar_menu_onclick"
    var a = document.getElementById("layout_mainer")
    var b = document.getElementById("sidebar")
</script>