<%= render "common/navigation" %>
<div id="layout_main" class="clearfix">
  <%= render "common/menuour" %>
  <!-- 精英团队 -->
  <div id="layout_mainer">
    <div id="layout_content514">
      <p><img src="../images/our/our_title.jpg" alt=朋兴传媒/></p>

      <p class="yahei font_20 red">专业 + 经验 + 创意</p>

      <p class="display8px"></p>

      <p class="yahei font_20">专业的广告媒体、丰富的品牌经验、卓越的创意思维，为您创造出一流的品牌价值形象！</p>

      <p class="display16px"></p>

      <p>朋兴传媒的所有成员多年的企业策划、活动宣传等实战经验，与省内各大企业的成功合作，让他们成长为业界精英——集策划思维、设计执行、服务意识于一体。他们凭借一分年轻、二分灵气、三分勇气、四分钻研、五分活力、六分博学、七分努力、八分专业、九分效率，为企业提供十分服务，屡次被服务企业给予高度赞赏。</p>

      <p>&nbsp;</p>

      <a href="http://www.ccpxcm.com/ours/elite_team"><img src="/images/our/our_item.gif" alt="朋兴传媒" width="514" height="244"/></a>


      <p id="nextcolumn">
        <span class="btn160x34 font_14 b"><a href="http://www.ccpxcm.com/ours/joinus">&gt;&gt;招聘信息</a></span></p>
    </div>
  </div>

  <!-- 精英团队end -->
</div>
<%= render "common/footer" %>
<script type="text/javascript">
    document.getElementById("menu_our").className = "menu_our_onclick"
    document.getElementById("sidebar_menu03").className = "sidebar_menu_onclick"
    var a = document.getElementById("layout_mainer")
    var b = document.getElementById("sidebar")
</script>