<%= render "common/navigation" %>

<div id="layout_main" class="clearfix">
  <%= render "common/menuour" %>
  <div id="layout_mainer">
    <div id="layout_content514">
      <p><img src="../images/our/our_title.jpg" alt="关于我们"/></p>

      <p class="yahei font_14">
        我们深入企业营销全过程，从前期市场调查、产品定位，到落地媒体、网络宣传与微信营销、网络公关，乃至客户服务与客户关系管理。根据客户实际需求和行业特性，利用媒体传播营销专业经验，对企业媒体营销方式与网络营销效果长期监测，最终达到全面提高企业营销效果，加强企业竞争力的目的。
      </p>

      <p class="display8px"></p>

      <p class="yahei font_14">
        朋兴传媒深入剖析企业需求，深度研究落地媒体与网络营销中的创新和运用，为企业量身定做优质广告营销策略。
      </p>

      <p class="display8px"></p>

      <p>&nbsp;</p>

      <p>&nbsp;</p>

      <p><img src="images/logo_about_matrix02.png" alt="朋兴传媒" width="366" height="360"/></p>

      <p id="nextcolumn"><span class="btn160x34 font_14 b"><a href="<%= services_path %>">&gt;&gt;互动服务</a></span></p>
    </div>
  </div>
</div>
<%= render "common/footer" %>

<script type="text/javascript">
    document.getElementById("menu_our").className = "menu_our_onclick"
    document.getElementById("sidebar_menu01").className = "sidebar_menu_onclick"
    var a = document.getElementById("layout_mainer")
    var b = document.getElementById("sidebar")
    if (a.scrollHeight < b.scrollHeight) {
        a.style.height = b.scrollHeight + "px";
    }
    else {
        b.style.height = a.scrollHeight + "px";
    }
</script>