<%= render "common/navigation" %>
<div id="layout_main" class="clearfix">
  <div id="sidebar">
    <div id="sidebar_menu" class="yahei">
      <h3><span class="font_20 black block">contact</span><span class="font_14 black block">联系我们</span></h3>
      <ul>
        <li id="sidebar_menu01"><a href="http://www.ccpxcm.com/contacts">联系我们</a></li>
      </ul>
    </div>

    <p id="sidebar_tel">
      <a target="_blank" href="http://www.ccpxcm.com/contacts">
        <img src="/images/matrix_tel.gif" alt="朋兴传媒"/>
      </a>
    </p>
  </div>

  <div id="layout_mainer">
    <div id="layout_content656">
      <p><img src="images/contact/contact_title.jpg" alt="长春朋兴文化传媒有限公司"/></p>

      <p>&nbsp;</p>

      <p class="red font_14 b">长春朋兴文化传媒有限公司<a name="wuhan" id="wuhan"></a></p>

      <p>
        <span class="gray b">朋兴传媒地址：</span> 长春市南关区吉宇大厦B座2层 <br/>
        <span class="gray b">朋兴传媒电话：</span>0431-88762567 <br/>
        <span class="gray b">朋兴传媒热线：</span>0431-88762567 <br/>
        <span class="gray b">朋兴传媒传真：</span>0431-88762567<br/>
        <!-- email -->

        <span class="gray b">朋兴传媒E-mail：</span>
        <a href="mailto:admin@ccpxcm.com?subject=朋兴传媒外网咨询：" target="_blank">admin@ccpxcm.com</a><br/>
        <!-- qq -->
        <span class="gray b">在线QQ：</span>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=315046509&site=qq&menu=yes">
          <img src="http://wpa.qq.com/pa?p=2:315046509:44" alt="朋兴传媒客服01" border="0" align="absbottom">
        </a>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=315046509&site=qq&menu=yes">
          <img src="http://wpa.qq.com/pa?p=2:315046509:44" alt="朋兴传媒客服02" border="0" align="absbottom">
        </a>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=315046509&site=qq&menu=yes">
          <img src="http://wpa.qq.com/pa?p=2:315046509:44" alt="朋兴传媒客服03" border="0" align="absbottom">
        </a>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=315046509&site=qq&menu=yes">
          <img src="http://wpa.qq.com/pa?p=2:315046509:44" alt="朋兴传媒客服04" border="0" align="absbottom">
        </a>
        <br/>
      </p>

      <p>&nbsp;</p>
      <!-- 地图 -->
      <span class="gray b">地图：点击可查询路线</span>

      <p>
        <a href="http://j.map.baidu.com/AZsfr" target="_blank">
          <img src="images/contact/Map.jpg" alt="长春朋兴文化传媒" width="590" height="406" class="gray_frame"/>
        </a>
      </p>
      <!-- end -->
    </div>
  </div>
</div>
<%= render "common/footer" %>
<script type="text/javascript">
    document.getElementById("menu_contact").className = "menu_contact_onclick"
    document.getElementById("sidebar_menu01").className = "sidebar_menu_onclick"
    var a = document.getElementById("layout_mainer")
    var b = document.getElementById("sidebar")
</script>
<%= render 'common/kefu' %>