<%= render "common/navigation" %>
<link type="text/css" rel="stylesheet" href="./stylesheets/base.css" media="all">
<link rel="stylesheet" type="text/css" href="./stylesheets/list-fang.css" media="all">
<div id="ad_d22" style="height: 50px;">
  <a href="http://webapp.58.com/static/chuichuile/index.html" target="_blank">
    <img src="./images/chuichuile.png">
  </a>
</div>
<section id="selection">
  <div class="relative">
    <dl class="secitem" id="filter_quyu">
      <dt>区域：</dt>
      <dd>
        <a href="./【长春房屋出租 长春租房子 长春出租房】 长春58同城_files/【长春房屋出租 长春租房子 长春出租房】 长春58同城.html" class="select">全长春</a>
        <a href="http://cc.58.com/chaoyangqu/chuzu/">朝阳</a>
        <a href="http://cc.58.com/nanguan/chuzu/">南关</a>
        <a href="http://cc.58.com/lvyuan/chuzu/">绿园</a>
        <a href="http://cc.58.com/kuancheng/chuzu/">宽城</a>
        <a href="http://cc.58.com/erdao/chuzu/">二道</a>
        <a href="http://cc.58.com/shuangyang/chuzu/">双阳</a>
        <a href="http://cc.58.com/jingkai/chuzu/">经开</a>
        <a href="http://cc.58.com/ccgaoxin/chuzu/">高新</a>
        <a href="http://cc.58.com/qichecheng/chuzu/">汽车城</a>
        <a href="http://cc.58.com/jingyue/chuzu/">净月</a>
        <a href="http://cc.58.com/changchun/chuzu/">长春周边</a>

      </dd>
    </dl>
  </div>
</section>
<section id="category">
  <div class="tabsbar">
    <div class="list-tabs">
      <a onclick="javascript:clickLog(&#39;from=chuzu_allTab&amp;local=319&amp;url=http:" title="长春出租" class="sel" href="./【长春房屋出租 长春租房子 长春出租房】 长春58同城_files/【长春房屋出租 长春租房子 长春出租房】 长春58同城.html"><span>
            	<h1> 长春出租 </h1>
      </span>
      </a>
    </div>
  </div>
  <div class="main">
    <div id="infolist" class="cleft">

      <table class="tbimg" cellpadding="0" cellspacing="0">
        <tbody>
        <!--      道闸列表      -->
        <tr yzf_sq="5305" yzf_xzq="320" yzf_room="0" yzf_jg="450" logr="xbtop_2_17843183_17580186155267_6_2">
          <td class="img">
            <div class="img_list">
              <span class="img_picCount"><span class="img_picCountOpacity"></span><span>11 图</span></span>
              <a href="http://cc.58.com/hezu/17580186155267x.shtml" target="_blank">
                <img lazy_src="http://pic4.58cdn.com.cn/p1/tiny/n_s12304967172803102084.jpg" alt="" src="./【长春房屋出租 长春租房子 长春出租房】 长春58同城_files/n_s12304967172803102084.jpg">
              </a>
            </div>
          </td>
          <td class="t qj-rentd">
            <h1>
              <a href="http://cc.58.com/hezu/17580186155267x.shtml" target="_blank" class="t">
                [单间]重庆路崇智商城楼上,水电宽带全不花钱了。随时看房
              </a>
              <span class="wlt-ico wlt1" title="58同城认证商家"></span>
              <span class="ico dun" title=""></span>

              <div class="cx-icon-tc" style="display:none">
                <i></i>

                <p>诚信房源：房源待租、真实 价格、实拍照片、如实描述</p>
              </div>
              <span name="zaixian_17843183" zx="1"></span>
              <i class="clear"></i>
            </h1>
            <p class="qj-renaddr">
              <a href="http://cc.58.com/chongqinglu/chuzu/" class="a_xq1">重庆路</a>
              - <span class="f12">重庆路崇智商城楼上</span>
              <span>/</span>
              今天
            </p>

            <p class="qj-rendp">
    		            	<span class="qj-listjjr">
        			        				<span class="geren"></span>
        	                        	<label>经纪人：</label>
        			                	<a class="qj-lijjrname" target="_blank" onclick="javascript:clickLog(&#39;from=fc_list_pxjjr&#39;);">吴女士</a>
                	       	</span>
            </p>
          </td>
          <td>
            <b class="pri">450</b> 元/月
            <br>
            <span class="showroom">主卧(4室以上)</span>
            <br>
          </td>
        </tr>
        <!--      道闸列表end      -->
        </tbody>
      </table>
    </div>
  </div>
</section>
<%= render "common/footer" %>