
<div id="sidebar">
  <div id="sidebar_menu" class="yahei">
    <h3><span class="font_20 black block">case</span><span class="font_14 black block">经典案例</span></h3>
    <ul>
      <li id="sidebar_menu01"><a href="http://www.ccpxcm.com/cases">经典案例</a></li>
    </ul>

    <ul>
      <li id="sidebar_menu01"><a href="http://www.ccpxcm.com/cases/dangche">档车杆</a></li>
    </ul>

    <ul>
      <li id="sidebar_menu01"><a href="http://www.ccpxcm.com/cases/longjia">龙嘉机场</a></li>
    </ul>

    <ul>
      <li id="sidebar_menu01"><a href="http://www.ccpxcm.com/cases/weixin">微信</a></li>
    </ul>
  </div>

  <p id="sidebar_tel">
    <a target="_blank" href="http://www.ccpxcm.com/cases">
      <img src="/images/matrix_tel.gif" alt="朋兴传媒"/>
    </a>
  </p>
</div>