
<div id="sidebar">
  <div id="sidebar_menu" class="yahei">
    <h3><span class="font_20 black block">case</span><span class="font_14 black block">经典案例</span></h3>
    <ul>
      <li id="sidebar_menu01"><a href="<%= cases_path %>">经典案例</a></li>
    </ul>

    <ul>
      <li id="sidebar_menu02"><a href="<%= dangche_cases_path %>">档车杆</a></li>
    </ul>

    <ul>
      <li id="sidebar_menu03"><a href="<%= longjia_cases_path %>">龙嘉机场</a></li>
    </ul>

    <ul>
      <li id="sidebar_menu04"><a href="<%= weixin_cases_path %>">微信</a></li>
    </ul>
  </div>

  <p id="sidebar_tel">
    <a target="_blank" href="http://www.ccpxcm.com/cases">
      <img src="/images/matrix_tel.gif" alt="朋兴传媒"/>
    </a>
  </p>
</div>