<script type="text/javascript" src="/javascripts/colortip-1.0-jquery.js"></script>
<script>$(document).ready(function () {

    $('[title]').colorTip({color: 'yellow'});

});</script>
<div id="footer" class="yahei">
  <div id="bottom">
    <p id="copyright" class="black">Copyright &copy; 2009-2014 PengXing Culture Spread. All Rights Reserved.　　
      版权所有：<a href="<%= root_path %>" target="_blank" alt="长春朋兴文化传媒有限公司" class="red">长春朋兴文化传媒有限公司</a>　　
      <!--备案序号：<a href="http://www.miibeian.gov.cn" target="_blank">鄂ICP备0xxxxxxxx号</a>--><br/>
      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=315046509&site=qq&menu=yes">
        <img src="http://wpa.qq.com/pa?p=2:315046509:44" alt="点击这里给我发消息" border="0" align="absbottom">
      </a>
      <a href="msnim:chat?contact=admin@ccpxcm.com"><img src="/images/Offline.gif?mkt=zh-cn" align="absbottom"/>admin@ccpxcm.com</a>
      <a href="msnim:chat?contact=admin@ccpxcm.com"><img src="/images/Offline.gif?mkt=zh-cn" align="absbottom"/>bug@ccpxcm.com</a>
    </p>
  </div>
</div>
