<script type="text/javascript" src="/javascripts/colortip-1.0-jquery.js"></script>
<script>$(document).ready(function () {

    $('[title]').colorTip({color: 'yellow'});

});</script>
<div id="footer" class="yahei">
  <div id="bottom">
    <p id="copyright" class="black">Copyright &copy; 2009-2014 PengXing Culture Spread. All Rights Reserved.　　
      版权所有：
      <a href="<%= root_path %>" target="_blank" alt="长春朋兴文化传媒有限公司" class="red">
        长春朋兴文化传媒有限公司
      </a>　
      <!-- 分享 -->　
      <script>window._bd_share_config = {"common": {"bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdPic": "", "bdStyle": "0", "bdSize": "16"}, "share": {}, "image": {"viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16"}, "selectShare": {"bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]}};
      with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
      <!-- end -->
      <!--备案序号：<a href="http://www.miibeian.gov.cn" target="_blank">鄂ICP备0xxxxxxxx号</a>-->

        <iframe id=review height=20 marginheight=0 src="http://follow.v.t.qq.com/index.php?c=follow&a=quick&appkey=801505785&sign=eb716d74&v=2&name=pengxingchuanmei&style=6&t=1399961028333&f=1" frameborder=0 width=50 allowtransparency marginwidth=0></iframe>

      <a href="msnim:chat?contact=admin@ccpxcm.com">
        <img src="/images/Offline.gif?mkt=zh-cn" align="absbottom"/>admin@ccpxcm.com
      </a>
      <a href="msnim:chat?contact=admin@ccpxcm.com">
        <img src="/images/Offline.gif?mkt=zh-cn" align="absbottom"/>bug@ccpxcm.com
      </a>
    </p>
  </div>
</div>
