<div id="homebanner">
    <div id="bigbanner_1000x479">
        <div class="slides">
            <ul class="slide-pic">
                <li class="cur">
                    <a href="<%= root_path %>">
                        <img src="images/banner05.jpg" alt="企业文化"/>
                    </a>
                </li>
                <li class="">
                    <a href="<%= root_path %>">
                        <img src="images/ssjBANNER.jpg" alt="企业合作伙伴"/>
                    </a>
                </li>
                <li class="">
                    <a href="<%= root_path %>">
                        <img src="images/banner02.jpg" alt="企业简介"/>
                    </a>
                </li>
                <li class="">
                    <a href="<%= root_path %>">
                        <img src="images/zgyzBANNER.jpg" alt="企业合作伙伴"/>
                    </a>
                </li>
            </ul>
            <ul class="slide-li op">
                <li class="cur"></li>
                <li class=""></li>
                <li class=""></li>
                <li class=""></li>
            </ul>
            <ul class="slide-li slide-txt">
                <li class="">天道酬勤</li>
                <li class="">感谢有你</li>
                <li class="">和谐相伴</li>
                <li class="">朋兴文化</li>
            </ul>
        </div>
    </div>
</div>