<div id="homebanner">
    <div id="bigbanner_1000x479">
        <div class="slides">
            <ul class="slide-pic">
                <li class="cur">
                    <a target="_blank" href="<%= root_path %>">
                        <img src="images/banner05.jpg" alt="朋兴传媒"/>
                    </a>
                </li>
                <li class="">
                    <a target="_blank" href="<%= root_path %>">
                        <img src="images/ssjBANNER.jpg" alt="朋兴传媒"/>
                    </a>
                </li>
                <li class="">
                    <a target="_blank" href="<%= root_path %>">
                        <img src="images/banner02.jpg" alt="朋兴传媒"/>
                    </a>
                </li>
                <li class="">
                    <a target="_blank" href="<%= root_path %>">
                        <img src="images/zgyzBANNER.jpg" alt="朋兴传媒"/>
                    </a>
                </li>
            </ul>
            <ul class="slide-li op">
                <li class="cur"></li>
                <li class=""></li>
                <li class=""></li>
                <li class=""></li>
            </ul>
            <ul class="slide-li slide-txt">
                <li class=""><a target="_blank" href="http://www.ccpxcm.com/">朋兴传媒 · 天道酬勤</a></li>
                <li class=""><a target="_blank" href="http://www.ccpxcm.com/">朋兴传媒 · 感谢有你</a></li>
                <li class=""><a target="_blank" href="http://www.ccpxcm.com/">朋兴传媒 · 和谐相伴</a></li>
                <li class=""><a target="_blank" href="http://www.ccpxcm.com/">朋兴传媒 · 朋兴文化</a></li>
            </ul>
        </div>
    </div>
</div>