<div id="sidebar">
  <div id="sidebar_menu" class="yahei">
    <h3>
      <span class="font_20 black block">our</span>
      <span class="font_14 black block">关于我们</span>
    </h3>
    <ul>
      <li id="sidebar_menu01"><a href="http://www.ccpxcm.com/ours">我们是谁</a></li>
      <li id="sidebar_menu03"><a href="http://www.ccpxcm.com/ours/elite_team">精英团队</a></li>
      <li id="sidebar_menu04"><a href="http://www.ccpxcm.com/ours/joinus">招聘信息</a></li>
      <li id="sidebar_menu05"><a href="http://www.ccpxcm.com/ours/journalism">热点新闻</a></li>
    </ul>
  </div>
  <p id="sidebar_tel">
    <a target="_blank" href="http://www.ccpxcm.com/ours">
      <img src="/images/matrix_tel.gif" alt="朋兴传媒"/>
    </a>
  </p>
</div>
<%= render 'common/kefu' %>