<div class="sort">
  <div class="solid_line">
  </div>
  <h4 class="font_12 coffee">
    按类型分类
  </h4>
  <ul>
    <li><a id="hl1_st2" href="http://www.ccpxcm.com/cases/dangche">档车杆</a></li>
    <li><a id="hl1_st3" href="http://www.ccpxcm.com/cases/longjia">机场LED</a></li>
    <li><a id="hl1_st4" href="http://www.ccpxcm.com/cases/weixin">微观网</a></li>
  </ul>
  <div class="clear"></div>
  <div class="solid_line"></div>
</div>
<div class="clear">
</div>